/* .route{
    position:fixed;
    border: 2px black solid;
    height: 2.6rem;
    align-items: center;
    top: 0rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
     z-index: 10;
} */